$root-element: 'awssld';
$cos45: 0.7071;
$transition-bezier: cubic-bezier(0.5, 0.075, 0.25, 0.95);
$slider-height-percentage: 60%;
$slider-transition-duration: 575ms;
$organic-arrow-color: #D7CAAA;
$organic-arrow-thickness: 4px;
$organic-arrow-height: 40px;
$organic-arrow-border-radius: 0;
$control-button-width: 10%;
$control-button-height: 25%;
$control-button-opacity: 0.5;
$control-button-hover-opacity: 0.75;
$control-button-background: transparent;
$loader-bar-color:#BFAA76;
$loader-bar-height: 6px;
$control-bullet-color: #D7CAAA;
$control-bullet-active-color: #D7CAAA;
$content-background-color: #D7CAAA;

%fill-parent {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

%clear-spacing {
  padding: 0;
  margin: 0;
}

%clear-focus {
  outline-color: 0;
  outline-style: none;
  outline-width: 0;
}

%clear-selection {
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.#{$root-element} {
  --organic-arrow-thickness: #{$organic-arrow-thickness};
  --organic-arrow-height: #{$organic-arrow-height};
  --slider-height-percentage: #{$slider-height-percentage};
  --loader-bar-color: #{$loader-bar-color};
  --loader-bar-height: #{$loader-bar-height};
  --control-button-width: #{$control-button-width};
  --control-button-height: #{$control-button-height};
  --control-button-opacity: #{$control-button-opacity};
  --control-button-hover-opacity: #{$control-button-hover-opacity};
  --control-button-background: #{$control-button-background};
  --transition-bezier: #{$transition-bezier};
  --slider-transition-duration: #{$slider-transition-duration};
  --organic-arrow-color: #{$organic-arrow-color};
  --organic-arrow-border-radius: #{$organic-arrow-border-radius};
  --control-bullet-color: #{$control-bullet-color};
  --control-bullet-active-color: #{$control-bullet-active-color};
  --content-background-color: #{$content-background-color};
}

.#{$root-element} {
  display: block;
  position: relative;
  width: 100%;
  max-width: 100%;

  &__wrapper {
    display: block;
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
  }
  &__container {
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: var(--slider-height-percentage);

    @media all and (max-width: 500px) {
      padding-bottom: calc(var(--slider-height-percentage) * 1.25);
    }

    figure {
      @extend %fill-parent;
    }
  }
  &__startUp {
    background-color: red;
    height: 100%;
    width: 100%;

    > div {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    img {
      width: 35%;
      height: auto;
    }
  }
  &__content {
    @extend %fill-parent;
    background-color: var(--content-background-color);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    > img,
    > video {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &__controls {
    button {
      @extend %clear-focus;
      display: flex;
      align-items: center;
      justify-content: center;
      width: var(--control-button-width);
      height: var(--control-button-height);
      position: absolute;
      z-index: 10;
      top: calc(50% - (0.5 * var(--control-button-height)));
      border: none;
      background-color: var(--control-button-background);
      color: #fff;
      cursor: pointer;
      .#{$root-element}__controls__arrow-left,
      .#{$root-element}__controls__arrow-right {
        opacity: var(--control-button-opacity);
      }
      &:hover {
        .#{$root-element}__controls__arrow-left,
        .#{$root-element}__controls__arrow-right {
          opacity: var(--control-button-opacity-hover);
        }
      }
    }
    &--active {
      .#{$root-element}__controls__arrow-left {
        opacity: var(--control-button-opacity-hover);
        transform: translate3d(-100%, 0, 0);
      }
      .#{$root-element}__controls__arrow-right {
        opacity: var(--control-button-opacity-hover);
        transform: translate3d(100%, 0, 0);
      }
    }
    &--hidden {
      display: none;
    }
    @media all and (max-width: 520px) {
      visibility: hidden;
    }
  }
  &__bar {
    display: block;
    width: 100%;
    height: var(--loader-bar-height);
    background-color: var(--loader-bar-color);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 101;
    transition: transform 3000ms var(--transition-bezier);
    transform: translate3d(-100%, 0, 0);
    &--active {
      transform: translate3d(-20%, 0, 0);
    }
    &--end {
      transition-duration: 300ms;
      transform: translate3d(0, 0, 0);
    }
  }
  &__next {
    right: 0;
  }
  &__prev {
    left: 0;
  }
  &__box {
    z-index: 1;
    visibility: hidden;
    @extend %fill-parent;
  }
  &--animated {
    will-change: transform;
    visibility: visible;
  }
  &--animated-mobile {
    will-change: transform;
    transition: transform 325ms cubic-bezier(0.15, 0.65, 0.1, 1);
  }
  &--active {
    visibility: visible;
    z-index: 2;
    transform: translate3d(0, 0, 0);
  }
  &--moveRight,
  &--moveLeft {
    backface-visibility: hidden;
  }
  &--moveRight {
    // transform: translate3d(100%, 0, 0);
    animation: slideFromRight var(--slider-transition-duration) both
      var(--transition-bezier);
  }
  &--moveLeft {
    animation: slideFromLeft var(--slider-transition-duration) both
      var(--transition-bezier);
  }
  &--exit {
    z-index: 0;
    &.#{$root-element}--moveLeft {
      animation: slideToLeft var(--slider-transition-duration) both
        var(--transition-bezier);
    }
    &.#{$root-element}--moveRight {
      animation: slideToRight var(--slider-transition-duration) both
        var(--transition-bezier);
    }
  }
  &--first {
    .#{$root-element}__prev {
      visibility: hidden;
    }
  }
  &--last {
    .#{$root-element}__next {
      visibility: hidden;
    }
  }
  &--fill-parent {
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    top: 0;
    left: 0;

    .#{$root-element}__container {
      height: 100%;
      padding: 0;
    }
  }
  &__bullets {
    position: absolute;
    bottom: -40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      @extend %clear-focus;
      padding: 0;
      display: block;
      width: 16px;
      height: 16px;
      margin: 5px;
      border-radius: 50%;
      background: var(--control-bullet-color);
      text-indent: -9999px;
      overflow: hidden;
      cursor: pointer;
      border: none;
      transition: transform 0.225s cubic-bezier(0.8, 1.35, 0.75, 1.45),
        background-color 0.175s ease-out;

      &:hover {
        transform: scale(1.2);
      }
    }
    .#{$root-element}__bullets--loading {
      transform: scale(1.2);
    }
    .#{$root-element}__bullets--active {
      transform: scale(1.5);
      background: var(--control-bullet-active-color);

      &:hover {
        transform: scale(1.5);
      }
    }
  }

  &__controls__arrow-left,
  &__controls__arrow-right {
    width: 100%;
    height: var(--organic-arrow-height);
    position: relative;
    display: block;
    transition: transform 0.2s ease-out 0.125s, opacity 0.2s ease-out;
    &:before,
    &:after {
      content: ' ';
      position: absolute;
      right: calc(
        50% -
          (
            #{$cos45} * (var(--organic-arrow-height) +
                  var(--organic-arrow-thickness))
          ) / 2
      );
      height: 100%;
      border-radius: var(--organic-arrow-border-radius);
      width: var(--organic-arrow-thickness);
      background-color: var(--organic-arrow-color);
      transition: transform 0.15s ease-out, background-color 0.15s ease-out;
    }
    &:before {
      transform-origin: 100% 100% 0;
      // background-color: rgba(76, 177, 6, 0.75);
      top: -50%;
      transform: rotate(-45deg);
    }
    &:after {
      transform-origin: 100% 0% 0;
      // background-color: rgba(255, 247, 43, 0.75);
      top: 50%;
      transform: rotate(45deg);
    }
  }
  &__controls__arrow-right {
    &--active {
      transform: translate3d(100%, 0, 0);
      &:after {
        transform: rotate(90deg) translate3d(50%, 0, 0) !important;
      }
      &:before {
        transform: rotate(-90deg) translate3d(50%, 0, 0) !important;
      }
    }
  }
  &__controls__arrow-left {
    &:before,
    &:after {
      right: auto;
      left: calc(
        50% -
          (
            #{$cos45} * (var(--organic-arrow-height) +
                  var(--organic-arrow-thickness))
          ) / 2
      );
    }
    &:before {
      transform-origin: 0 100% 0;
      top: -50%;
      transform: rotate(45deg);
    }
    &:after {
      transform-origin: 0 0 0;
      top: 50%;
      transform: rotate(-45deg);
    }
    &--active {
      transform: translate3d(-100%, 0, 0);
      &:after {
        transform: rotate(-90deg) translate3d(-50%, 0, 0) !important;
      }
      &:before {
        transform: rotate(90deg) translate3d(-50%, 0, 0) !important;
      }
    }
  }
  &__controls {
    button:hover {
      .#{$root-element}__controls__arrow-left {
        &:before {
          opacity: 1;
          transform: rotate(30deg);
        }

        &:after {
          opacity: 1;
          transform: rotate(-30deg);
        }
      }
      .#{$root-element}__controls__arrow-right {
        &:before {
          opacity: 1;
          transform: rotate(-30deg);
        }
        &:after {
          opacity: 1;
          transform: rotate(30deg);
        }
      }
    }
  }
  &__timer {
    --timer-delay: 2000ms;
    --timer-release: 200ms;
    --timer-height: 4px;
    --timer-background-color: rgba(0, 0, 0, 0.15);

    width: 100%;
    height: var(--timer-height);
    background-color: var(--timer-background-color);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    transform: translateX(-100%);

    &--animated {
      will-change: transform;
      transition: transform var(--timer-delay) linear;
    }

    &--run {
      transform: translateX(0);
    }

    &--fast {
      transition: transform calc(var(--timer-release) / 2) linear;
      transform: translateX(-0.00001px);
    }

    &--end {
      transform: translateX(-0.0001px);
      transition: transform var(--timer-release) linear;
    }

    &--hidden {
      display: none;
    }
  }
}

@keyframes slideFromLeft {
  from {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideFromRight {
  from {
    transform: translate3d(100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideToLeft {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes slideToRight {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(100%, 0, 0);
  }
}

.backgroundofstars {
  overflow: hidden;
  background: radial-gradient(ellipse at bottom, #efe1bd 0%, #e9d7a8 100%);
  height: 100vh;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1487px 822px #1F1F1F , 702px 619px #1F1F1F , 579px 76px #1F1F1F , 881px 14px #1F1F1F , 1903px 741px #1F1F1F , 1401px 1791px #1F1F1F , 1316px 857px #1F1F1F , 1628px 1376px #1F1F1F , 1641px 781px #1F1F1F , 1421px 25px #1F1F1F , 525px 254px #1F1F1F , 683px 1197px #1F1F1F , 1636px 1573px #1F1F1F , 1855px 1220px #1F1F1F , 108px 1424px #1F1F1F , 906px 1967px #1F1F1F , 205px 1681px #1F1F1F , 1930px 731px #1F1F1F , 1957px 104px #1F1F1F , 1558px 24px #1F1F1F , 211px 468px #1F1F1F , 2px 1001px #1F1F1F , 664px 1095px #1F1F1F , 1023px 1573px #1F1F1F , 272px 122px #1F1F1F , 659px 1641px #1F1F1F , 1518px 1633px #1F1F1F , 1736px 1016px #1F1F1F , 1085px 1911px #1F1F1F , 737px 1784px #1F1F1F , 564px 968px #1F1F1F , 150px 1277px #1F1F1F , 1848px 505px #1F1F1F , 1067px 1414px #1F1F1F , 1619px 1498px #1F1F1F , 266px 757px #1F1F1F , 450px 1052px #1F1F1F , 604px 1178px #1F1F1F , 1069px 1215px #1F1F1F , 1045px 1816px #1F1F1F , 1682px 1111px #1F1F1F , 578px 1875px #1F1F1F , 1197px 20px #1F1F1F , 736px 1923px #1F1F1F , 1698px 592px #1F1F1F , 491px 1835px #1F1F1F , 106px 1113px #1F1F1F , 1944px 1749px #1F1F1F , 677px 525px #1F1F1F , 798px 1663px #1F1F1F , 463px 19px #1F1F1F , 1982px 1091px #1F1F1F , 736px 1597px #1F1F1F , 244px 1625px #1F1F1F , 1699px 1257px #1F1F1F , 624px 114px #1F1F1F , 1290px 48px #1F1F1F , 1007px 1111px #1F1F1F , 1411px 31px #1F1F1F , 1661px 1065px #1F1F1F , 1583px 1593px #1F1F1F , 1165px 1985px #1F1F1F , 351px 222px #1F1F1F , 158px 709px #1F1F1F , 1304px 194px #1F1F1F , 1192px 1923px #1F1F1F , 358px 1642px #1F1F1F , 889px 1701px #1F1F1F , 424px 1427px #1F1F1F , 1928px 573px #1F1F1F , 1263px 1473px #1F1F1F , 498px 33px #1F1F1F , 1043px 286px #1F1F1F , 843px 1917px #1F1F1F , 909px 813px #1F1F1F , 1033px 291px #1F1F1F , 41px 749px #1F1F1F , 1807px 1719px #1F1F1F , 1984px 284px #1F1F1F , 1983px 1696px #1F1F1F , 1409px 179px #1F1F1F , 1350px 929px #1F1F1F , 332px 1747px #1F1F1F , 212px 1977px #1F1F1F , 1668px 1254px #1F1F1F , 1585px 1736px #1F1F1F , 783px 85px #1F1F1F , 1961px 847px #1F1F1F , 1692px 996px #1F1F1F , 1829px 694px #1F1F1F , 965px 891px #1F1F1F , 1793px 102px #1F1F1F , 1347px 235px #1F1F1F , 1566px 1954px #1F1F1F , 1406px 1765px #1F1F1F , 1346px 1832px #1F1F1F , 452px 1205px #1F1F1F , 1667px 1688px #1F1F1F , 1337px 1664px #1F1F1F , 1728px 832px #1F1F1F , 1568px 1213px #1F1F1F , 1980px 357px #1F1F1F , 1096px 624px #1F1F1F , 210px 636px #1F1F1F , 1247px 1830px #1F1F1F , 1789px 1970px #1F1F1F , 582px 978px #1F1F1F , 1473px 1002px #1F1F1F , 1042px 440px #1F1F1F , 1189px 879px #1F1F1F , 24px 931px #1F1F1F , 1656px 1848px #1F1F1F , 401px 1676px #1F1F1F , 192px 1632px #1F1F1F , 970px 1936px #1F1F1F , 231px 1849px #1F1F1F , 1860px 127px #1F1F1F , 469px 1487px #1F1F1F , 436px 1899px #1F1F1F , 680px 1290px #1F1F1F , 809px 128px #1F1F1F , 163px 683px #1F1F1F , 1221px 1732px #1F1F1F , 982px 801px #1F1F1F , 149px 455px #1F1F1F , 39px 1305px #1F1F1F , 248px 1059px #1F1F1F , 1985px 1040px #1F1F1F , 823px 1174px #1F1F1F , 1823px 12px #1F1F1F , 1558px 1446px #1F1F1F , 164px 348px #1F1F1F , 504px 311px #1F1F1F , 95px 1735px #1F1F1F , 1817px 560px #1F1F1F , 1527px 1792px #1F1F1F , 296px 377px #1F1F1F , 1480px 353px #1F1F1F , 1419px 1148px #1F1F1F , 734px 610px #1F1F1F , 1233px 1076px #1F1F1F , 1495px 198px #1F1F1F , 1722px 1821px #1F1F1F , 57px 914px #1F1F1F , 81px 1967px #1F1F1F , 157px 1383px #1F1F1F , 478px 1545px #1F1F1F , 96px 1485px #1F1F1F , 1248px 1516px #1F1F1F , 1989px 1475px #1F1F1F , 730px 61px #1F1F1F , 646px 342px #1F1F1F , 656px 376px #1F1F1F , 809px 1394px #1F1F1F , 483px 1916px #1F1F1F , 695px 1985px #1F1F1F , 954px 279px #1F1F1F , 1704px 234px #1F1F1F , 204px 1621px #1F1F1F , 490px 414px #1F1F1F , 929px 1852px #1F1F1F , 383px 1017px #1F1F1F , 1319px 14px #1F1F1F , 103px 1147px #1F1F1F , 1780px 62px #1F1F1F , 764px 318px #1F1F1F , 950px 1468px #1F1F1F , 767px 8px #1F1F1F , 1038px 763px #1F1F1F , 62px 680px #1F1F1F , 1619px 817px #1F1F1F , 1462px 1819px #1F1F1F , 1340px 1956px #1F1F1F , 1802px 902px #1F1F1F , 1739px 1865px #1F1F1F , 886px 854px #1F1F1F , 1760px 1693px #1F1F1F , 1571px 1175px #1F1F1F , 1149px 1748px #1F1F1F , 1521px 1213px #1F1F1F , 575px 162px #1F1F1F , 1904px 456px #1F1F1F , 1399px 416px #1F1F1F , 1325px 1118px #1F1F1F , 1848px 478px #1F1F1F , 1447px 841px #1F1F1F , 457px 1619px #1F1F1F , 1202px 1049px #1F1F1F , 397px 682px #1F1F1F , 465px 1042px #1F1F1F , 1264px 1033px #1F1F1F , 1304px 1004px #1F1F1F , 649px 1586px #1F1F1F , 97px 1308px #1F1F1F , 21px 619px #1F1F1F , 469px 1742px #1F1F1F , 81px 1745px #1F1F1F , 1735px 1208px #1F1F1F , 805px 1206px #1F1F1F , 717px 492px #1F1F1F , 187px 1317px #1F1F1F , 860px 1290px #1F1F1F , 1964px 1712px #1F1F1F , 1036px 142px #1F1F1F , 1238px 442px #1F1F1F , 1766px 423px #1F1F1F , 925px 353px #1F1F1F , 569px 5px #1F1F1F , 1338px 383px #1F1F1F , 1321px 90px #1F1F1F , 1613px 749px #1F1F1F , 409px 1835px #1F1F1F , 642px 715px #1F1F1F , 1402px 444px #1F1F1F , 1669px 197px #1F1F1F , 291px 1022px #1F1F1F , 632px 1847px #1F1F1F , 678px 810px #1F1F1F , 570px 798px #1F1F1F , 1521px 681px #1F1F1F , 309px 176px #1F1F1F , 1913px 882px #1F1F1F , 1129px 1601px #1F1F1F , 1310px 1490px #1F1F1F , 883px 1925px #1F1F1F , 1354px 140px #1F1F1F , 1474px 628px #1F1F1F , 1997px 230px #1F1F1F , 351px 1212px #1F1F1F , 576px 706px #1F1F1F , 1210px 1325px #1F1F1F , 1927px 315px #1F1F1F , 1505px 1249px #1F1F1F , 699px 1811px #1F1F1F , 1428px 913px #1F1F1F , 691px 1811px #1F1F1F , 977px 1645px #1F1F1F , 330px 260px #1F1F1F , 1632px 1148px #1F1F1F , 878px 1070px #1F1F1F , 390px 1127px #1F1F1F , 1915px 1956px #1F1F1F , 805px 314px #1F1F1F , 260px 623px #1F1F1F , 1471px 1629px #1F1F1F , 1333px 1800px #1F1F1F , 1158px 1712px #1F1F1F , 813px 641px #1F1F1F , 608px 761px #1F1F1F , 529px 1163px #1F1F1F , 1916px 1476px #1F1F1F , 308px 1823px #1F1F1F , 910px 894px #1F1F1F , 839px 431px #1F1F1F , 1638px 1599px #1F1F1F , 128px 1590px #1F1F1F , 1157px 1788px #1F1F1F , 1035px 773px #1F1F1F , 389px 277px #1F1F1F , 553px 1014px #1F1F1F , 1978px 668px #1F1F1F , 615px 1056px #1F1F1F , 944px 1726px #1F1F1F , 974px 324px #1F1F1F , 1448px 349px #1F1F1F , 848px 405px #1F1F1F , 1757px 1457px #1F1F1F , 468px 1754px #1F1F1F , 714px 414px #1F1F1F , 697px 592px #1F1F1F , 1434px 1246px #1F1F1F , 258px 1687px #1F1F1F , 953px 1354px #1F1F1F , 922px 179px #1F1F1F , 1899px 662px #1F1F1F , 1103px 448px #1F1F1F , 1205px 799px #1F1F1F , 1256px 1247px #1F1F1F , 1772px 194px #1F1F1F , 1809px 1285px #1F1F1F , 518px 698px #1F1F1F , 1906px 332px #1F1F1F , 1182px 536px #1F1F1F , 1758px 354px #1F1F1F , 131px 1042px #1F1F1F , 923px 1832px #1F1F1F , 1117px 1198px #1F1F1F , 143px 1532px #1F1F1F , 1401px 395px #1F1F1F , 1359px 1550px #1F1F1F , 615px 206px #1F1F1F , 694px 475px #1F1F1F , 530px 1675px #1F1F1F , 1413px 1544px #1F1F1F , 1330px 1429px #1F1F1F , 1433px 1453px #1F1F1F , 1271px 846px #1F1F1F , 1369px 1790px #1F1F1F , 517px 1392px #1F1F1F , 897px 1434px #1F1F1F , 1906px 1012px #1F1F1F , 1523px 1474px #1F1F1F , 666px 7px #1F1F1F , 598px 1273px #1F1F1F , 1544px 541px #1F1F1F , 248px 268px #1F1F1F , 1992px 848px #1F1F1F , 571px 870px #1F1F1F , 1228px 679px #1F1F1F , 1096px 187px #1F1F1F , 1553px 15px #1F1F1F , 523px 779px #1F1F1F , 140px 231px #1F1F1F , 659px 577px #1F1F1F , 463px 727px #1F1F1F , 986px 623px #1F1F1F , 1822px 1062px #1F1F1F , 596px 1460px #1F1F1F , 462px 115px #1F1F1F , 1318px 516px #1F1F1F , 409px 729px #1F1F1F , 710px 976px #1F1F1F , 1163px 1539px #1F1F1F , 1542px 1362px #1F1F1F , 394px 1840px #1F1F1F , 904px 1541px #1F1F1F , 1549px 538px #1F1F1F , 1594px 1384px #1F1F1F , 1030px 1465px #1F1F1F , 599px 544px #1F1F1F , 1933px 241px #1F1F1F , 1281px 287px #1F1F1F , 729px 1282px #1F1F1F , 819px 364px #1F1F1F , 797px 1590px #1F1F1F , 1023px 1973px #1F1F1F , 1708px 961px #1F1F1F , 293px 1953px #1F1F1F , 1685px 1879px #1F1F1F , 1285px 1995px #1F1F1F , 1380px 219px #1F1F1F , 1715px 1980px #1F1F1F , 218px 108px #1F1F1F , 700px 711px #1F1F1F , 471px 1764px #1F1F1F , 10px 1084px #1F1F1F , 1841px 1778px #1F1F1F , 1765px 1548px #1F1F1F , 712px 1703px #1F1F1F , 1866px 1805px #1F1F1F , 1896px 760px #1F1F1F , 1391px 40px #1F1F1F , 761px 1516px #1F1F1F , 1329px 584px #1F1F1F , 385px 1141px #1F1F1F , 1238px 21px #1F1F1F , 1070px 486px #1F1F1F , 1096px 312px #1F1F1F , 1254px 1674px #1F1F1F , 549px 1349px #1F1F1F , 1618px 986px #1F1F1F , 707px 1741px #1F1F1F , 1718px 1514px #1F1F1F , 481px 597px #1F1F1F , 1690px 1472px #1F1F1F , 1728px 919px #1F1F1F , 173px 1196px #1F1F1F , 1778px 1257px #1F1F1F , 1207px 649px #1F1F1F , 447px 634px #1F1F1F , 1306px 1444px #1F1F1F , 936px 1818px #1F1F1F , 855px 1015px #1F1F1F , 1421px 332px #1F1F1F , 1138px 1889px #1F1F1F , 1974px 694px #1F1F1F , 715px 308px #1F1F1F , 757px 155px #1F1F1F , 18px 107px #1F1F1F , 561px 378px #1F1F1F , 144px 798px #1F1F1F , 1184px 967px #1F1F1F , 1263px 1130px #1F1F1F , 1382px 895px #1F1F1F , 149px 175px #1F1F1F , 1297px 839px #1F1F1F , 943px 454px #1F1F1F , 178px 1165px #1F1F1F , 477px 407px #1F1F1F , 416px 219px #1F1F1F , 1056px 1491px #1F1F1F , 625px 816px #1F1F1F , 100px 1537px #1F1F1F , 1074px 520px #1F1F1F , 1031px 1453px #1F1F1F , 1377px 614px #1F1F1F , 572px 1314px #1F1F1F , 1513px 1235px #1F1F1F , 1920px 1211px #1F1F1F , 330px 107px #1F1F1F , 1260px 772px #1F1F1F , 1198px 84px #1F1F1F , 1409px 139px #1F1F1F , 758px 98px #1F1F1F , 698px 1771px #1F1F1F , 273px 275px #1F1F1F , 163px 200px #1F1F1F , 1665px 732px #1F1F1F , 95px 600px #1F1F1F , 522px 122px #1F1F1F , 76px 804px #1F1F1F , 1669px 1526px #1F1F1F , 1881px 465px #1F1F1F , 1043px 1919px #1F1F1F , 1521px 827px #1F1F1F , 1197px 1997px #1F1F1F , 489px 593px #1F1F1F , 1899px 722px #1F1F1F , 1575px 332px #1F1F1F , 327px 718px #1F1F1F , 1959px 1378px #1F1F1F , 455px 1333px #1F1F1F , 729px 822px #1F1F1F , 748px 126px #1F1F1F , 444px 445px #1F1F1F , 1856px 262px #1F1F1F , 1140px 921px #1F1F1F , 1680px 1227px #1F1F1F , 1144px 1742px #1F1F1F , 1922px 384px #1F1F1F , 1015px 496px #1F1F1F , 1213px 831px #1F1F1F , 1793px 898px #1F1F1F , 35px 159px #1F1F1F , 571px 1505px #1F1F1F , 726px 42px #1F1F1F , 1216px 1214px #1F1F1F , 938px 50px #1F1F1F , 322px 1017px #1F1F1F , 1222px 523px #1F1F1F , 660px 1174px #1F1F1F , 355px 859px #1F1F1F , 1381px 1648px #1F1F1F , 8px 1546px #1F1F1F , 1768px 17px #1F1F1F , 301px 1159px #1F1F1F , 1550px 185px #1F1F1F , 1289px 656px #1F1F1F , 1187px 106px #1F1F1F , 669px 1498px #1F1F1F , 555px 323px #1F1F1F , 454px 288px #1F1F1F , 72px 271px #1F1F1F , 445px 1713px #1F1F1F , 136px 10px #1F1F1F , 1810px 1149px #1F1F1F , 1445px 794px #1F1F1F , 406px 1822px #1F1F1F , 1994px 741px #1F1F1F , 1837px 1564px #1F1F1F , 1264px 80px #1F1F1F , 273px 845px #1F1F1F , 322px 1693px #1F1F1F , 103px 463px #1F1F1F , 689px 1161px #1F1F1F , 353px 717px #1F1F1F , 1275px 1895px #1F1F1F , 1331px 130px #1F1F1F , 1251px 1424px #1F1F1F , 1003px 1183px #1F1F1F , 721px 904px #1F1F1F , 1261px 416px #1F1F1F , 600px 577px #1F1F1F , 384px 910px #1F1F1F , 1248px 1547px #1F1F1F , 955px 734px #1F1F1F , 686px 891px #1F1F1F , 196px 1523px #1F1F1F , 831px 327px #1F1F1F , 845px 1486px #1F1F1F , 1553px 1438px #1F1F1F , 1133px 1152px #1F1F1F , 356px 1087px #1F1F1F , 1503px 807px #1F1F1F , 1098px 1396px #1F1F1F , 94px 1934px #1F1F1F , 1195px 58px #1F1F1F , 748px 771px #1F1F1F , 940px 570px #1F1F1F , 574px 651px #1F1F1F , 835px 533px #1F1F1F , 42px 1210px #1F1F1F , 496px 1791px #1F1F1F , 1610px 296px #1F1F1F , 1446px 1574px #1F1F1F , 261px 1765px #1F1F1F , 818px 368px #1F1F1F , 573px 743px #1F1F1F , 545px 333px #1F1F1F , 1500px 1567px #1F1F1F , 1789px 448px #1F1F1F , 1139px 1559px #1F1F1F , 1607px 1127px #1F1F1F , 1980px 874px #1F1F1F , 731px 1559px #1F1F1F , 898px 158px #1F1F1F , 1641px 1053px #1F1F1F , 53px 377px #1F1F1F , 1879px 1370px #1F1F1F , 1377px 899px #1F1F1F , 1416px 829px #1F1F1F , 863px 1545px #1F1F1F , 1219px 1935px #1F1F1F , 1638px 320px #1F1F1F , 239px 1807px #1F1F1F , 851px 464px #1F1F1F , 1868px 1843px #1F1F1F , 679px 203px #1F1F1F , 1762px 842px #1F1F1F , 59px 1986px #1F1F1F , 1142px 1911px #1F1F1F , 838px 1030px #1F1F1F , 1370px 1269px #1F1F1F , 781px 274px #1F1F1F , 1193px 551px #1F1F1F , 638px 478px #1F1F1F , 456px 1854px #1F1F1F , 424px 690px #1F1F1F , 13px 600px #1F1F1F , 306px 1867px #1F1F1F , 384px 1298px #1F1F1F , 762px 342px #1F1F1F , 1780px 1196px #1F1F1F , 108px 1138px #1F1F1F , 1671px 866px #1F1F1F , 831px 1515px #1F1F1F , 218px 1455px #1F1F1F , 1315px 1494px #1F1F1F , 1365px 1181px #1F1F1F , 168px 986px #1F1F1F , 349px 506px #1F1F1F , 974px 1437px #1F1F1F , 1605px 908px #1F1F1F , 1036px 1208px #1F1F1F , 1082px 1407px #1F1F1F , 916px 827px #1F1F1F , 1526px 566px #1F1F1F , 1159px 1877px #1F1F1F , 210px 1180px #1F1F1F , 979px 1815px #1F1F1F , 130px 1358px #1F1F1F , 1961px 1963px #1F1F1F , 771px 591px #1F1F1F , 1905px 487px #1F1F1F , 1816px 1565px #1F1F1F , 333px 1600px #1F1F1F , 1842px 1774px #1F1F1F , 1573px 135px #1F1F1F , 1385px 1889px #1F1F1F , 1611px 1033px #1F1F1F , 367px 1236px #1F1F1F , 779px 1022px #1F1F1F , 1851px 62px #1F1F1F , 478px 257px #1F1F1F , 1907px 1960px #1F1F1F , 1435px 532px #1F1F1F , 662px 8px #1F1F1F , 1027px 1924px #1F1F1F , 489px 101px #1F1F1F , 76px 1875px #1F1F1F , 657px 1682px #1F1F1F , 1993px 1955px #1F1F1F , 1432px 1845px #1F1F1F , 1530px 1729px #1F1F1F , 1211px 896px #1F1F1F , 1525px 133px #1F1F1F , 1445px 803px #1F1F1F , 530px 62px #1F1F1F , 242px 1513px #1F1F1F , 256px 933px #1F1F1F , 1701px 936px #1F1F1F , 756px 1893px #1F1F1F , 1251px 1298px #1F1F1F , 380px 1399px #1F1F1F , 1455px 302px #1F1F1F , 1729px 1171px #1F1F1F , 585px 49px #1F1F1F , 1961px 1124px #1F1F1F , 1241px 552px #1F1F1F , 1205px 40px #1F1F1F , 1938px 1247px #1F1F1F , 1469px 89px #1F1F1F , 239px 1939px #1F1F1F , 698px 448px #1F1F1F , 1795px 346px #1F1F1F , 151px 487px #1F1F1F , 102px 126px #1F1F1F , 1184px 418px #1F1F1F , 1625px 1418px #1F1F1F , 29px 554px #1F1F1F , 1288px 1274px #1F1F1F , 791px 1308px #1F1F1F , 151px 934px #1F1F1F , 1574px 386px #1F1F1F , 1214px 1703px #1F1F1F , 1569px 1424px #1F1F1F , 951px 1830px #1F1F1F , 1728px 805px #1F1F1F , 312px 1987px #1F1F1F , 1468px 529px #1F1F1F , 1153px 1146px #1F1F1F , 1262px 1021px #1F1F1F , 1648px 1766px #1F1F1F , 306px 70px #1F1F1F , 754px 1165px #1F1F1F , 1930px 482px #1F1F1F , 1814px 1593px #1F1F1F , 1066px 822px #1F1F1F , 1250px 877px #1F1F1F , 465px 1885px #1F1F1F , 1649px 1281px #1F1F1F , 1682px 1601px #1F1F1F , 1367px 1233px #1F1F1F , 91px 1327px #1F1F1F , 1485px 1355px #1F1F1F , 501px 1673px #1F1F1F , 1649px 1259px #1F1F1F , 1986px 948px #1F1F1F , 1266px 1829px #1F1F1F , 135px 1503px #1F1F1F , 647px 296px #1F1F1F , 155px 341px #1F1F1F , 649px 1896px #1F1F1F , 1617px 334px #1F1F1F , 223px 1507px #1F1F1F , 584px 146px #1F1F1F , 200px 316px #1F1F1F , 575px 1831px #1F1F1F , 1374px 1809px #1F1F1F , 1445px 386px #1F1F1F , 475px 1249px #1F1F1F , 1954px 89px #1F1F1F , 1756px 1192px #1F1F1F , 8px 671px #1F1F1F , 1366px 1694px #1F1F1F , 1831px 306px #1F1F1F , 925px 113px #1F1F1F , 160px 1174px #1F1F1F , 534px 1908px #1F1F1F , 553px 273px #1F1F1F , 423px 45px #1F1F1F , 1305px 1098px #1F1F1F , 187px 90px #1F1F1F , 1993px 1396px #1F1F1F , 842px 1270px #1F1F1F , 1137px 554px #1F1F1F , 351px 558px #1F1F1F , 1576px 1070px #1F1F1F , 437px 312px #1F1F1F , 286px 1019px #1F1F1F , 257px 272px #1F1F1F , 1242px 1957px #1F1F1F , 1963px 1693px #1F1F1F , 772px 447px #1F1F1F , 1641px 508px #1F1F1F , 712px 100px #1F1F1F , 1307px 1015px #1F1F1F , 742px 327px #1F1F1F , 281px 1814px #1F1F1F , 1398px 1051px #1F1F1F , 167px 9px #1F1F1F , 328px 1489px #1F1F1F , 1814px 1804px #1F1F1F , 946px 25px #1F1F1F , 549px 1705px #1F1F1F , 217px 1477px #1F1F1F , 1937px 280px #1F1F1F , 182px 241px #1F1F1F , 711px 1365px #1F1F1F , 1898px 1043px #1F1F1F , 1807px 346px #1F1F1F , 1787px 1253px #1F1F1F , 247px 66px #1F1F1F , 1171px 1592px #1F1F1F , 846px 895px #1F1F1F , 1507px 720px #1F1F1F , 787px 574px #1F1F1F , 1593px 1267px #1F1F1F , 843px 1902px #1F1F1F , 15px 1454px #1F1F1F , 539px 1420px #1F1F1F , 1856px 974px #1F1F1F , 340px 663px #1F1F1F , 1579px 1091px #1F1F1F , 809px 111px #1F1F1F , 32px 1128px #1F1F1F , 69px 1852px #1F1F1F , 878px 300px #1F1F1F , 730px 726px #1F1F1F , 1137px 68px #1F1F1F;
  animation: animStar 50s linear infinite;
  &:after {
    content: " ";
    position: relative;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1487px 822px #1F1F1F , 702px 619px #1F1F1F , 579px 76px #1F1F1F , 881px 14px #1F1F1F , 1903px 741px #1F1F1F , 1401px 1791px #1F1F1F , 1316px 857px #1F1F1F , 1628px 1376px #1F1F1F , 1641px 781px #1F1F1F , 1421px 25px #1F1F1F , 525px 254px #1F1F1F , 683px 1197px #1F1F1F , 1636px 1573px #1F1F1F , 1855px 1220px #1F1F1F , 108px 1424px #1F1F1F , 906px 1967px #1F1F1F , 205px 1681px #1F1F1F , 1930px 731px #1F1F1F , 1957px 104px #1F1F1F , 1558px 24px #1F1F1F , 211px 468px #1F1F1F , 2px 1001px #1F1F1F , 664px 1095px #1F1F1F , 1023px 1573px #1F1F1F , 272px 122px #1F1F1F , 659px 1641px #1F1F1F , 1518px 1633px #1F1F1F , 1736px 1016px #1F1F1F , 1085px 1911px #1F1F1F , 737px 1784px #1F1F1F , 564px 968px #1F1F1F , 150px 1277px #1F1F1F , 1848px 505px #1F1F1F , 1067px 1414px #1F1F1F , 1619px 1498px #1F1F1F , 266px 757px #1F1F1F , 450px 1052px #1F1F1F , 604px 1178px #1F1F1F , 1069px 1215px #1F1F1F , 1045px 1816px #1F1F1F , 1682px 1111px #1F1F1F , 578px 1875px #1F1F1F , 1197px 20px #1F1F1F , 736px 1923px #1F1F1F , 1698px 592px #1F1F1F , 491px 1835px #1F1F1F , 106px 1113px #1F1F1F , 1944px 1749px #1F1F1F , 677px 525px #1F1F1F , 798px 1663px #1F1F1F , 463px 19px #1F1F1F , 1982px 1091px #1F1F1F , 736px 1597px #1F1F1F , 244px 1625px #1F1F1F , 1699px 1257px #1F1F1F , 624px 114px #1F1F1F , 1290px 48px #1F1F1F , 1007px 1111px #1F1F1F , 1411px 31px #1F1F1F , 1661px 1065px #1F1F1F , 1583px 1593px #1F1F1F , 1165px 1985px #1F1F1F , 351px 222px #1F1F1F , 158px 709px #1F1F1F , 1304px 194px #1F1F1F , 1192px 1923px #1F1F1F , 358px 1642px #1F1F1F , 889px 1701px #1F1F1F , 424px 1427px #1F1F1F , 1928px 573px #1F1F1F , 1263px 1473px #1F1F1F , 498px 33px #1F1F1F , 1043px 286px #1F1F1F , 843px 1917px #1F1F1F , 909px 813px #1F1F1F , 1033px 291px #1F1F1F , 41px 749px #1F1F1F , 1807px 1719px #1F1F1F , 1984px 284px #1F1F1F , 1983px 1696px #1F1F1F , 1409px 179px #1F1F1F , 1350px 929px #1F1F1F , 332px 1747px #1F1F1F , 212px 1977px #1F1F1F , 1668px 1254px #1F1F1F , 1585px 1736px #1F1F1F , 783px 85px #1F1F1F , 1961px 847px #1F1F1F , 1692px 996px #1F1F1F , 1829px 694px #1F1F1F , 965px 891px #1F1F1F , 1793px 102px #1F1F1F , 1347px 235px #1F1F1F , 1566px 1954px #1F1F1F , 1406px 1765px #1F1F1F , 1346px 1832px #1F1F1F , 452px 1205px #1F1F1F , 1667px 1688px #1F1F1F , 1337px 1664px #1F1F1F , 1728px 832px #1F1F1F , 1568px 1213px #1F1F1F , 1980px 357px #1F1F1F , 1096px 624px #1F1F1F , 210px 636px #1F1F1F , 1247px 1830px #1F1F1F , 1789px 1970px #1F1F1F , 582px 978px #1F1F1F , 1473px 1002px #1F1F1F , 1042px 440px #1F1F1F , 1189px 879px #1F1F1F , 24px 931px #1F1F1F , 1656px 1848px #1F1F1F , 401px 1676px #1F1F1F , 192px 1632px #1F1F1F , 970px 1936px #1F1F1F , 231px 1849px #1F1F1F , 1860px 127px #1F1F1F , 469px 1487px #1F1F1F , 436px 1899px #1F1F1F , 680px 1290px #1F1F1F , 809px 128px #1F1F1F , 163px 683px #1F1F1F , 1221px 1732px #1F1F1F , 982px 801px #1F1F1F , 149px 455px #1F1F1F , 39px 1305px #1F1F1F , 248px 1059px #1F1F1F , 1985px 1040px #1F1F1F , 823px 1174px #1F1F1F , 1823px 12px #1F1F1F , 1558px 1446px #1F1F1F , 164px 348px #1F1F1F , 504px 311px #1F1F1F , 95px 1735px #1F1F1F , 1817px 560px #1F1F1F , 1527px 1792px #1F1F1F , 296px 377px #1F1F1F , 1480px 353px #1F1F1F , 1419px 1148px #1F1F1F , 734px 610px #1F1F1F , 1233px 1076px #1F1F1F , 1495px 198px #1F1F1F , 1722px 1821px #1F1F1F , 57px 914px #1F1F1F , 81px 1967px #1F1F1F , 157px 1383px #1F1F1F , 478px 1545px #1F1F1F , 96px 1485px #1F1F1F , 1248px 1516px #1F1F1F , 1989px 1475px #1F1F1F , 730px 61px #1F1F1F , 646px 342px #1F1F1F , 656px 376px #1F1F1F , 809px 1394px #1F1F1F , 483px 1916px #1F1F1F , 695px 1985px #1F1F1F , 954px 279px #1F1F1F , 1704px 234px #1F1F1F , 204px 1621px #1F1F1F , 490px 414px #1F1F1F , 929px 1852px #1F1F1F , 383px 1017px #1F1F1F , 1319px 14px #1F1F1F , 103px 1147px #1F1F1F , 1780px 62px #1F1F1F , 764px 318px #1F1F1F , 950px 1468px #1F1F1F , 767px 8px #1F1F1F , 1038px 763px #1F1F1F , 62px 680px #1F1F1F , 1619px 817px #1F1F1F , 1462px 1819px #1F1F1F , 1340px 1956px #1F1F1F , 1802px 902px #1F1F1F , 1739px 1865px #1F1F1F , 886px 854px #1F1F1F , 1760px 1693px #1F1F1F , 1571px 1175px #1F1F1F , 1149px 1748px #1F1F1F , 1521px 1213px #1F1F1F , 575px 162px #1F1F1F , 1904px 456px #1F1F1F , 1399px 416px #1F1F1F , 1325px 1118px #1F1F1F , 1848px 478px #1F1F1F , 1447px 841px #1F1F1F , 457px 1619px #1F1F1F , 1202px 1049px #1F1F1F , 397px 682px #1F1F1F , 465px 1042px #1F1F1F , 1264px 1033px #1F1F1F , 1304px 1004px #1F1F1F , 649px 1586px #1F1F1F , 97px 1308px #1F1F1F , 21px 619px #1F1F1F , 469px 1742px #1F1F1F , 81px 1745px #1F1F1F , 1735px 1208px #1F1F1F , 805px 1206px #1F1F1F , 717px 492px #1F1F1F , 187px 1317px #1F1F1F , 860px 1290px #1F1F1F , 1964px 1712px #1F1F1F , 1036px 142px #1F1F1F , 1238px 442px #1F1F1F , 1766px 423px #1F1F1F , 925px 353px #1F1F1F , 569px 5px #1F1F1F , 1338px 383px #1F1F1F , 1321px 90px #1F1F1F , 1613px 749px #1F1F1F , 409px 1835px #1F1F1F , 642px 715px #1F1F1F , 1402px 444px #1F1F1F , 1669px 197px #1F1F1F , 291px 1022px #1F1F1F , 632px 1847px #1F1F1F , 678px 810px #1F1F1F , 570px 798px #1F1F1F , 1521px 681px #1F1F1F , 309px 176px #1F1F1F , 1913px 882px #1F1F1F , 1129px 1601px #1F1F1F , 1310px 1490px #1F1F1F , 883px 1925px #1F1F1F , 1354px 140px #1F1F1F , 1474px 628px #1F1F1F , 1997px 230px #1F1F1F , 351px 1212px #1F1F1F , 576px 706px #1F1F1F , 1210px 1325px #1F1F1F , 1927px 315px #1F1F1F , 1505px 1249px #1F1F1F , 699px 1811px #1F1F1F , 1428px 913px #1F1F1F , 691px 1811px #1F1F1F , 977px 1645px #1F1F1F , 330px 260px #1F1F1F , 1632px 1148px #1F1F1F , 878px 1070px #1F1F1F , 390px 1127px #1F1F1F , 1915px 1956px #1F1F1F , 805px 314px #1F1F1F , 260px 623px #1F1F1F , 1471px 1629px #1F1F1F , 1333px 1800px #1F1F1F , 1158px 1712px #1F1F1F , 813px 641px #1F1F1F , 608px 761px #1F1F1F , 529px 1163px #1F1F1F , 1916px 1476px #1F1F1F , 308px 1823px #1F1F1F , 910px 894px #1F1F1F , 839px 431px #1F1F1F , 1638px 1599px #1F1F1F , 128px 1590px #1F1F1F , 1157px 1788px #1F1F1F , 1035px 773px #1F1F1F , 389px 277px #1F1F1F , 553px 1014px #1F1F1F , 1978px 668px #1F1F1F , 615px 1056px #1F1F1F , 944px 1726px #1F1F1F , 974px 324px #1F1F1F , 1448px 349px #1F1F1F , 848px 405px #1F1F1F , 1757px 1457px #1F1F1F , 468px 1754px #1F1F1F , 714px 414px #1F1F1F , 697px 592px #1F1F1F , 1434px 1246px #1F1F1F , 258px 1687px #1F1F1F , 953px 1354px #1F1F1F , 922px 179px #1F1F1F , 1899px 662px #1F1F1F , 1103px 448px #1F1F1F , 1205px 799px #1F1F1F , 1256px 1247px #1F1F1F , 1772px 194px #1F1F1F , 1809px 1285px #1F1F1F , 518px 698px #1F1F1F , 1906px 332px #1F1F1F , 1182px 536px #1F1F1F , 1758px 354px #1F1F1F , 131px 1042px #1F1F1F , 923px 1832px #1F1F1F , 1117px 1198px #1F1F1F , 143px 1532px #1F1F1F , 1401px 395px #1F1F1F , 1359px 1550px #1F1F1F , 615px 206px #1F1F1F , 694px 475px #1F1F1F , 530px 1675px #1F1F1F , 1413px 1544px #1F1F1F , 1330px 1429px #1F1F1F , 1433px 1453px #1F1F1F , 1271px 846px #1F1F1F , 1369px 1790px #1F1F1F , 517px 1392px #1F1F1F , 897px 1434px #1F1F1F , 1906px 1012px #1F1F1F , 1523px 1474px #1F1F1F , 666px 7px #1F1F1F , 598px 1273px #1F1F1F , 1544px 541px #1F1F1F , 248px 268px #1F1F1F , 1992px 848px #1F1F1F , 571px 870px #1F1F1F , 1228px 679px #1F1F1F , 1096px 187px #1F1F1F , 1553px 15px #1F1F1F , 523px 779px #1F1F1F , 140px 231px #1F1F1F , 659px 577px #1F1F1F , 463px 727px #1F1F1F , 986px 623px #1F1F1F , 1822px 1062px #1F1F1F , 596px 1460px #1F1F1F , 462px 115px #1F1F1F , 1318px 516px #1F1F1F , 409px 729px #1F1F1F , 710px 976px #1F1F1F , 1163px 1539px #1F1F1F , 1542px 1362px #1F1F1F , 394px 1840px #1F1F1F , 904px 1541px #1F1F1F , 1549px 538px #1F1F1F , 1594px 1384px #1F1F1F , 1030px 1465px #1F1F1F , 599px 544px #1F1F1F , 1933px 241px #1F1F1F , 1281px 287px #1F1F1F , 729px 1282px #1F1F1F , 819px 364px #1F1F1F , 797px 1590px #1F1F1F , 1023px 1973px #1F1F1F , 1708px 961px #1F1F1F , 293px 1953px #1F1F1F , 1685px 1879px #1F1F1F , 1285px 1995px #1F1F1F , 1380px 219px #1F1F1F , 1715px 1980px #1F1F1F , 218px 108px #1F1F1F , 700px 711px #1F1F1F , 471px 1764px #1F1F1F , 10px 1084px #1F1F1F , 1841px 1778px #1F1F1F , 1765px 1548px #1F1F1F , 712px 1703px #1F1F1F , 1866px 1805px #1F1F1F , 1896px 760px #1F1F1F , 1391px 40px #1F1F1F , 761px 1516px #1F1F1F , 1329px 584px #1F1F1F , 385px 1141px #1F1F1F , 1238px 21px #1F1F1F , 1070px 486px #1F1F1F , 1096px 312px #1F1F1F , 1254px 1674px #1F1F1F , 549px 1349px #1F1F1F , 1618px 986px #1F1F1F , 707px 1741px #1F1F1F , 1718px 1514px #1F1F1F , 481px 597px #1F1F1F , 1690px 1472px #1F1F1F , 1728px 919px #1F1F1F , 173px 1196px #1F1F1F , 1778px 1257px #1F1F1F , 1207px 649px #1F1F1F , 447px 634px #1F1F1F , 1306px 1444px #1F1F1F , 936px 1818px #1F1F1F , 855px 1015px #1F1F1F , 1421px 332px #1F1F1F , 1138px 1889px #1F1F1F , 1974px 694px #1F1F1F , 715px 308px #1F1F1F , 757px 155px #1F1F1F , 18px 107px #1F1F1F , 561px 378px #1F1F1F , 144px 798px #1F1F1F , 1184px 967px #1F1F1F , 1263px 1130px #1F1F1F , 1382px 895px #1F1F1F , 149px 175px #1F1F1F , 1297px 839px #1F1F1F , 943px 454px #1F1F1F , 178px 1165px #1F1F1F , 477px 407px #1F1F1F , 416px 219px #1F1F1F , 1056px 1491px #1F1F1F , 625px 816px #1F1F1F , 100px 1537px #1F1F1F , 1074px 520px #1F1F1F , 1031px 1453px #1F1F1F , 1377px 614px #1F1F1F , 572px 1314px #1F1F1F , 1513px 1235px #1F1F1F , 1920px 1211px #1F1F1F , 330px 107px #1F1F1F , 1260px 772px #1F1F1F , 1198px 84px #1F1F1F , 1409px 139px #1F1F1F , 758px 98px #1F1F1F , 698px 1771px #1F1F1F , 273px 275px #1F1F1F , 163px 200px #1F1F1F , 1665px 732px #1F1F1F , 95px 600px #1F1F1F , 522px 122px #1F1F1F , 76px 804px #1F1F1F , 1669px 1526px #1F1F1F , 1881px 465px #1F1F1F , 1043px 1919px #1F1F1F , 1521px 827px #1F1F1F , 1197px 1997px #1F1F1F , 489px 593px #1F1F1F , 1899px 722px #1F1F1F , 1575px 332px #1F1F1F , 327px 718px #1F1F1F , 1959px 1378px #1F1F1F , 455px 1333px #1F1F1F , 729px 822px #1F1F1F , 748px 126px #1F1F1F , 444px 445px #1F1F1F , 1856px 262px #1F1F1F , 1140px 921px #1F1F1F , 1680px 1227px #1F1F1F , 1144px 1742px #1F1F1F , 1922px 384px #1F1F1F , 1015px 496px #1F1F1F , 1213px 831px #1F1F1F , 1793px 898px #1F1F1F , 35px 159px #1F1F1F , 571px 1505px #1F1F1F , 726px 42px #1F1F1F , 1216px 1214px #1F1F1F , 938px 50px #1F1F1F , 322px 1017px #1F1F1F , 1222px 523px #1F1F1F , 660px 1174px #1F1F1F , 355px 859px #1F1F1F , 1381px 1648px #1F1F1F , 8px 1546px #1F1F1F , 1768px 17px #1F1F1F , 301px 1159px #1F1F1F , 1550px 185px #1F1F1F , 1289px 656px #1F1F1F , 1187px 106px #1F1F1F , 669px 1498px #1F1F1F , 555px 323px #1F1F1F , 454px 288px #1F1F1F , 72px 271px #1F1F1F , 445px 1713px #1F1F1F , 136px 10px #1F1F1F , 1810px 1149px #1F1F1F , 1445px 794px #1F1F1F , 406px 1822px #1F1F1F , 1994px 741px #1F1F1F , 1837px 1564px #1F1F1F , 1264px 80px #1F1F1F , 273px 845px #1F1F1F , 322px 1693px #1F1F1F , 103px 463px #1F1F1F , 689px 1161px #1F1F1F , 353px 717px #1F1F1F , 1275px 1895px #1F1F1F , 1331px 130px #1F1F1F , 1251px 1424px #1F1F1F , 1003px 1183px #1F1F1F , 721px 904px #1F1F1F , 1261px 416px #1F1F1F , 600px 577px #1F1F1F , 384px 910px #1F1F1F , 1248px 1547px #1F1F1F , 955px 734px #1F1F1F , 686px 891px #1F1F1F , 196px 1523px #1F1F1F , 831px 327px #1F1F1F , 845px 1486px #1F1F1F , 1553px 1438px #1F1F1F , 1133px 1152px #1F1F1F , 356px 1087px #1F1F1F , 1503px 807px #1F1F1F , 1098px 1396px #1F1F1F , 94px 1934px #1F1F1F , 1195px 58px #1F1F1F , 748px 771px #1F1F1F , 940px 570px #1F1F1F , 574px 651px #1F1F1F , 835px 533px #1F1F1F , 42px 1210px #1F1F1F , 496px 1791px #1F1F1F , 1610px 296px #1F1F1F , 1446px 1574px #1F1F1F , 261px 1765px #1F1F1F , 818px 368px #1F1F1F , 573px 743px #1F1F1F , 545px 333px #1F1F1F , 1500px 1567px #1F1F1F , 1789px 448px #1F1F1F , 1139px 1559px #1F1F1F , 1607px 1127px #1F1F1F , 1980px 874px #1F1F1F , 731px 1559px #1F1F1F , 898px 158px #1F1F1F , 1641px 1053px #1F1F1F , 53px 377px #1F1F1F , 1879px 1370px #1F1F1F , 1377px 899px #1F1F1F , 1416px 829px #1F1F1F , 863px 1545px #1F1F1F , 1219px 1935px #1F1F1F , 1638px 320px #1F1F1F , 239px 1807px #1F1F1F , 851px 464px #1F1F1F , 1868px 1843px #1F1F1F , 679px 203px #1F1F1F , 1762px 842px #1F1F1F , 59px 1986px #1F1F1F , 1142px 1911px #1F1F1F , 838px 1030px #1F1F1F , 1370px 1269px #1F1F1F , 781px 274px #1F1F1F , 1193px 551px #1F1F1F , 638px 478px #1F1F1F , 456px 1854px #1F1F1F , 424px 690px #1F1F1F , 13px 600px #1F1F1F , 306px 1867px #1F1F1F , 384px 1298px #1F1F1F , 762px 342px #1F1F1F , 1780px 1196px #1F1F1F , 108px 1138px #1F1F1F , 1671px 866px #1F1F1F , 831px 1515px #1F1F1F , 218px 1455px #1F1F1F , 1315px 1494px #1F1F1F , 1365px 1181px #1F1F1F , 168px 986px #1F1F1F , 349px 506px #1F1F1F , 974px 1437px #1F1F1F , 1605px 908px #1F1F1F , 1036px 1208px #1F1F1F , 1082px 1407px #1F1F1F , 916px 827px #1F1F1F , 1526px 566px #1F1F1F , 1159px 1877px #1F1F1F , 210px 1180px #1F1F1F , 979px 1815px #1F1F1F , 130px 1358px #1F1F1F , 1961px 1963px #1F1F1F , 771px 591px #1F1F1F , 1905px 487px #1F1F1F , 1816px 1565px #1F1F1F , 333px 1600px #1F1F1F , 1842px 1774px #1F1F1F , 1573px 135px #1F1F1F , 1385px 1889px #1F1F1F , 1611px 1033px #1F1F1F , 367px 1236px #1F1F1F , 779px 1022px #1F1F1F , 1851px 62px #1F1F1F , 478px 257px #1F1F1F , 1907px 1960px #1F1F1F , 1435px 532px #1F1F1F , 662px 8px #1F1F1F , 1027px 1924px #1F1F1F , 489px 101px #1F1F1F , 76px 1875px #1F1F1F , 657px 1682px #1F1F1F , 1993px 1955px #1F1F1F , 1432px 1845px #1F1F1F , 1530px 1729px #1F1F1F , 1211px 896px #1F1F1F , 1525px 133px #1F1F1F , 1445px 803px #1F1F1F , 530px 62px #1F1F1F , 242px 1513px #1F1F1F , 256px 933px #1F1F1F , 1701px 936px #1F1F1F , 756px 1893px #1F1F1F , 1251px 1298px #1F1F1F , 380px 1399px #1F1F1F , 1455px 302px #1F1F1F , 1729px 1171px #1F1F1F , 585px 49px #1F1F1F , 1961px 1124px #1F1F1F , 1241px 552px #1F1F1F , 1205px 40px #1F1F1F , 1938px 1247px #1F1F1F , 1469px 89px #1F1F1F , 239px 1939px #1F1F1F , 698px 448px #1F1F1F , 1795px 346px #1F1F1F , 151px 487px #1F1F1F , 102px 126px #1F1F1F , 1184px 418px #1F1F1F , 1625px 1418px #1F1F1F , 29px 554px #1F1F1F , 1288px 1274px #1F1F1F , 791px 1308px #1F1F1F , 151px 934px #1F1F1F , 1574px 386px #1F1F1F , 1214px 1703px #1F1F1F , 1569px 1424px #1F1F1F , 951px 1830px #1F1F1F , 1728px 805px #1F1F1F , 312px 1987px #1F1F1F , 1468px 529px #1F1F1F , 1153px 1146px #1F1F1F , 1262px 1021px #1F1F1F , 1648px 1766px #1F1F1F , 306px 70px #1F1F1F , 754px 1165px #1F1F1F , 1930px 482px #1F1F1F , 1814px 1593px #1F1F1F , 1066px 822px #1F1F1F , 1250px 877px #1F1F1F , 465px 1885px #1F1F1F , 1649px 1281px #1F1F1F , 1682px 1601px #1F1F1F , 1367px 1233px #1F1F1F , 91px 1327px #1F1F1F , 1485px 1355px #1F1F1F , 501px 1673px #1F1F1F , 1649px 1259px #1F1F1F , 1986px 948px #1F1F1F , 1266px 1829px #1F1F1F , 135px 1503px #1F1F1F , 647px 296px #1F1F1F , 155px 341px #1F1F1F , 649px 1896px #1F1F1F , 1617px 334px #1F1F1F , 223px 1507px #1F1F1F , 584px 146px #1F1F1F , 200px 316px #1F1F1F , 575px 1831px #1F1F1F , 1374px 1809px #1F1F1F , 1445px 386px #1F1F1F , 475px 1249px #1F1F1F , 1954px 89px #1F1F1F , 1756px 1192px #1F1F1F , 8px 671px #1F1F1F , 1366px 1694px #1F1F1F , 1831px 306px #1F1F1F , 925px 113px #1F1F1F , 160px 1174px #1F1F1F , 534px 1908px #1F1F1F , 553px 273px #1F1F1F , 423px 45px #1F1F1F , 1305px 1098px #1F1F1F , 187px 90px #1F1F1F , 1993px 1396px #1F1F1F , 842px 1270px #1F1F1F , 1137px 554px #1F1F1F , 351px 558px #1F1F1F , 1576px 1070px #1F1F1F , 437px 312px #1F1F1F , 286px 1019px #1F1F1F , 257px 272px #1F1F1F , 1242px 1957px #1F1F1F , 1963px 1693px #1F1F1F , 772px 447px #1F1F1F , 1641px 508px #1F1F1F , 712px 100px #1F1F1F , 1307px 1015px #1F1F1F , 742px 327px #1F1F1F , 281px 1814px #1F1F1F , 1398px 1051px #1F1F1F , 167px 9px #1F1F1F , 328px 1489px #1F1F1F , 1814px 1804px #1F1F1F , 946px 25px #1F1F1F , 549px 1705px #1F1F1F , 217px 1477px #1F1F1F , 1937px 280px #1F1F1F , 182px 241px #1F1F1F , 711px 1365px #1F1F1F , 1898px 1043px #1F1F1F , 1807px 346px #1F1F1F , 1787px 1253px #1F1F1F , 247px 66px #1F1F1F , 1171px 1592px #1F1F1F , 846px 895px #1F1F1F , 1507px 720px #1F1F1F , 787px 574px #1F1F1F , 1593px 1267px #1F1F1F , 843px 1902px #1F1F1F , 15px 1454px #1F1F1F , 539px 1420px #1F1F1F , 1856px 974px #1F1F1F , 340px 663px #1F1F1F , 1579px 1091px #1F1F1F , 809px 111px #1F1F1F , 32px 1128px #1F1F1F , 69px 1852px #1F1F1F , 878px 300px #1F1F1F , 730px 726px #1F1F1F , 1137px 68px #1F1F1F;
  }
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 592px 134px #1F1F1F , 346px 741px #1F1F1F , 1000px 1781px #1F1F1F , 996px 728px #1F1F1F , 1085px 1462px #1F1F1F , 526px 1128px #1F1F1F , 1951px 557px #1F1F1F , 673px 92px #1F1F1F , 415px 776px #1F1F1F , 1570px 643px #1F1F1F , 121px 697px #1F1F1F , 782px 1847px #1F1F1F , 1853px 256px #1F1F1F , 910px 195px #1F1F1F , 362px 1201px #1F1F1F , 52px 1627px #1F1F1F , 387px 899px #1F1F1F , 547px 1995px #1F1F1F , 1298px 440px #1F1F1F , 1474px 1713px #1F1F1F , 1109px 1322px #1F1F1F , 1720px 1237px #1F1F1F , 473px 1196px #1F1F1F , 1682px 580px #1F1F1F , 1476px 655px #1F1F1F , 1254px 731px #1F1F1F , 1069px 1840px #1F1F1F , 291px 1789px #1F1F1F , 825px 1237px #1F1F1F , 1067px 543px #1F1F1F , 962px 990px #1F1F1F , 1606px 1387px #1F1F1F , 884px 1555px #1F1F1F , 1209px 1830px #1F1F1F , 439px 535px #1F1F1F , 360px 1451px #1F1F1F , 1018px 1837px #1F1F1F , 1964px 677px #1F1F1F , 1095px 159px #1F1F1F , 390px 245px #1F1F1F , 1869px 597px #1F1F1F , 1857px 544px #1F1F1F , 745px 1186px #1F1F1F , 336px 1867px #1F1F1F , 250px 1377px #1F1F1F , 1872px 168px #1F1F1F , 878px 1299px #1F1F1F , 1257px 177px #1F1F1F , 984px 303px #1F1F1F , 544px 303px #1F1F1F , 1250px 1052px #1F1F1F , 152px 1322px #1F1F1F , 1466px 289px #1F1F1F , 1104px 1116px #1F1F1F , 1796px 482px #1F1F1F , 1086px 525px #1F1F1F , 1540px 1822px #1F1F1F , 196px 1999px #1F1F1F , 1893px 771px #1F1F1F , 1171px 1728px #1F1F1F , 1996px 710px #1F1F1F , 436px 370px #1F1F1F , 1270px 1570px #1F1F1F , 55px 900px #1F1F1F , 1875px 1291px #1F1F1F , 337px 1251px #1F1F1F , 25px 5px #1F1F1F , 1619px 835px #1F1F1F , 410px 676px #1F1F1F , 956px 531px #1F1F1F , 90px 489px #1F1F1F , 561px 576px #1F1F1F , 907px 45px #1F1F1F , 1657px 810px #1F1F1F , 1029px 1705px #1F1F1F , 1281px 828px #1F1F1F , 466px 961px #1F1F1F , 674px 1105px #1F1F1F , 456px 918px #1F1F1F , 331px 148px #1F1F1F , 1105px 1681px #1F1F1F , 922px 319px #1F1F1F , 1600px 1403px #1F1F1F , 420px 977px #1F1F1F , 166px 1637px #1F1F1F , 1033px 1668px #1F1F1F , 1884px 208px #1F1F1F , 552px 720px #1F1F1F , 1543px 119px #1F1F1F , 587px 103px #1F1F1F , 348px 1766px #1F1F1F , 664px 761px #1F1F1F , 565px 1253px #1F1F1F , 1472px 1332px #1F1F1F , 471px 1569px #1F1F1F , 747px 76px #1F1F1F , 1429px 308px #1F1F1F , 1850px 597px #1F1F1F , 1148px 1085px #1F1F1F , 307px 208px #1F1F1F , 253px 736px #1F1F1F , 148px 122px #1F1F1F , 366px 1163px #1F1F1F , 1589px 1436px #1F1F1F , 1359px 1027px #1F1F1F , 1805px 95px #1F1F1F , 910px 837px #1F1F1F , 1578px 976px #1F1F1F , 954px 710px #1F1F1F , 743px 1552px #1F1F1F , 271px 686px #1F1F1F , 1960px 1336px #1F1F1F , 740px 1431px #1F1F1F , 972px 1184px #1F1F1F , 1690px 1942px #1F1F1F , 1222px 839px #1F1F1F , 1151px 164px #1F1F1F , 1248px 871px #1F1F1F , 893px 1975px #1F1F1F , 1979px 859px #1F1F1F , 139px 642px #1F1F1F , 856px 523px #1F1F1F , 879px 1186px #1F1F1F , 1440px 1036px #1F1F1F , 1624px 1411px #1F1F1F , 1320px 1239px #1F1F1F , 1747px 1662px #1F1F1F , 1155px 765px #1F1F1F , 885px 43px #1F1F1F , 552px 1690px #1F1F1F , 731px 293px #1F1F1F , 1655px 1809px #1F1F1F , 187px 1766px #1F1F1F , 811px 1318px #1F1F1F , 716px 241px #1F1F1F , 633px 668px #1F1F1F , 916px 1359px #1F1F1F , 1054px 620px #1F1F1F , 1038px 1345px #1F1F1F , 1334px 1118px #1F1F1F , 393px 52px #1F1F1F , 1722px 590px #1F1F1F , 1329px 244px #1F1F1F , 1388px 1983px #1F1F1F , 66px 1845px #1F1F1F , 172px 995px #1F1F1F , 1258px 1766px #1F1F1F , 310px 110px #1F1F1F , 1019px 1705px #1F1F1F , 394px 1471px #1F1F1F , 489px 1962px #1F1F1F , 183px 1155px #1F1F1F , 90px 1153px #1F1F1F , 845px 60px #1F1F1F , 403px 1930px #1F1F1F , 820px 256px #1F1F1F , 394px 1716px #1F1F1F , 1744px 690px #1F1F1F , 831px 1562px #1F1F1F , 110px 1000px #1F1F1F , 1604px 585px #1F1F1F , 1954px 1442px #1F1F1F , 397px 1085px #1F1F1F , 242px 1785px #1F1F1F , 1216px 1885px #1F1F1F , 1873px 1700px #1F1F1F , 1181px 8px #1F1F1F , 1978px 701px #1F1F1F , 1968px 391px #1F1F1F , 1621px 947px #1F1F1F , 1142px 1244px #1F1F1F , 558px 584px #1F1F1F , 881px 767px #1F1F1F , 96px 960px #1F1F1F , 1143px 262px #1F1F1F , 690px 1357px #1F1F1F , 218px 1363px #1F1F1F , 1507px 16px #1F1F1F , 1947px 1785px #1F1F1F , 755px 1928px #1F1F1F , 1620px 1126px #1F1F1F , 1194px 1932px #1F1F1F , 728px 1068px #1F1F1F , 542px 1765px #1F1F1F , 1159px 1334px #1F1F1F , 1284px 444px #1F1F1F , 1623px 1161px #1F1F1F , 190px 1011px #1F1F1F , 855px 1379px #1F1F1F , 1244px 30px #1F1F1F , 1144px 1873px #1F1F1F , 1276px 958px #1F1F1F , 1675px 1097px #1F1F1F , 354px 1735px #1F1F1F , 1534px 235px #1F1F1F , 560px 1850px #1F1F1F , 493px 1737px #1F1F1F , 782px 598px #1F1F1F , 1709px 1377px #1F1F1F , 717px 1040px #1F1F1F;
  animation: animStar 100s linear infinite;
  &:after {
    content: " ";
    position: relative;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 592px 134px #1F1F1F , 346px 741px #1F1F1F , 1000px 1781px #1F1F1F , 996px 728px #1F1F1F , 1085px 1462px #1F1F1F , 526px 1128px #1F1F1F , 1951px 557px #1F1F1F , 673px 92px #1F1F1F , 415px 776px #1F1F1F , 1570px 643px #1F1F1F , 121px 697px #1F1F1F , 782px 1847px #1F1F1F , 1853px 256px #1F1F1F , 910px 195px #1F1F1F , 362px 1201px #1F1F1F , 52px 1627px #1F1F1F , 387px 899px #1F1F1F , 547px 1995px #1F1F1F , 1298px 440px #1F1F1F , 1474px 1713px #1F1F1F , 1109px 1322px #1F1F1F , 1720px 1237px #1F1F1F , 473px 1196px #1F1F1F , 1682px 580px #1F1F1F , 1476px 655px #1F1F1F , 1254px 731px #1F1F1F , 1069px 1840px #1F1F1F , 291px 1789px #1F1F1F , 825px 1237px #1F1F1F , 1067px 543px #1F1F1F , 962px 990px #1F1F1F , 1606px 1387px #1F1F1F , 884px 1555px #1F1F1F , 1209px 1830px #1F1F1F , 439px 535px #1F1F1F , 360px 1451px #1F1F1F , 1018px 1837px #1F1F1F , 1964px 677px #1F1F1F , 1095px 159px #1F1F1F , 390px 245px #1F1F1F , 1869px 597px #1F1F1F , 1857px 544px #1F1F1F , 745px 1186px #1F1F1F , 336px 1867px #1F1F1F , 250px 1377px #1F1F1F , 1872px 168px #1F1F1F , 878px 1299px #1F1F1F , 1257px 177px #1F1F1F , 984px 303px #1F1F1F , 544px 303px #1F1F1F , 1250px 1052px #1F1F1F , 152px 1322px #1F1F1F , 1466px 289px #1F1F1F , 1104px 1116px #1F1F1F , 1796px 482px #1F1F1F , 1086px 525px #1F1F1F , 1540px 1822px #1F1F1F , 196px 1999px #1F1F1F , 1893px 771px #1F1F1F , 1171px 1728px #1F1F1F , 1996px 710px #1F1F1F , 436px 370px #1F1F1F , 1270px 1570px #1F1F1F , 55px 900px #1F1F1F , 1875px 1291px #1F1F1F , 337px 1251px #1F1F1F , 25px 5px #1F1F1F , 1619px 835px #1F1F1F , 410px 676px #1F1F1F , 956px 531px #1F1F1F , 90px 489px #1F1F1F , 561px 576px #1F1F1F , 907px 45px #1F1F1F , 1657px 810px #1F1F1F , 1029px 1705px #1F1F1F , 1281px 828px #1F1F1F , 466px 961px #1F1F1F , 674px 1105px #1F1F1F , 456px 918px #1F1F1F , 331px 148px #1F1F1F , 1105px 1681px #1F1F1F , 922px 319px #1F1F1F , 1600px 1403px #1F1F1F , 420px 977px #1F1F1F , 166px 1637px #1F1F1F , 1033px 1668px #1F1F1F , 1884px 208px #1F1F1F , 552px 720px #1F1F1F , 1543px 119px #1F1F1F , 587px 103px #1F1F1F , 348px 1766px #1F1F1F , 664px 761px #1F1F1F , 565px 1253px #1F1F1F , 1472px 1332px #1F1F1F , 471px 1569px #1F1F1F , 747px 76px #1F1F1F , 1429px 308px #1F1F1F , 1850px 597px #1F1F1F , 1148px 1085px #1F1F1F , 307px 208px #1F1F1F , 253px 736px #1F1F1F , 148px 122px #1F1F1F , 366px 1163px #1F1F1F , 1589px 1436px #1F1F1F , 1359px 1027px #1F1F1F , 1805px 95px #1F1F1F , 910px 837px #1F1F1F , 1578px 976px #1F1F1F , 954px 710px #1F1F1F , 743px 1552px #1F1F1F , 271px 686px #1F1F1F , 1960px 1336px #1F1F1F , 740px 1431px #1F1F1F , 972px 1184px #1F1F1F , 1690px 1942px #1F1F1F , 1222px 839px #1F1F1F , 1151px 164px #1F1F1F , 1248px 871px #1F1F1F , 893px 1975px #1F1F1F , 1979px 859px #1F1F1F , 139px 642px #1F1F1F , 856px 523px #1F1F1F , 879px 1186px #1F1F1F , 1440px 1036px #1F1F1F , 1624px 1411px #1F1F1F , 1320px 1239px #1F1F1F , 1747px 1662px #1F1F1F , 1155px 765px #1F1F1F , 885px 43px #1F1F1F , 552px 1690px #1F1F1F , 731px 293px #1F1F1F , 1655px 1809px #1F1F1F , 187px 1766px #1F1F1F , 811px 1318px #1F1F1F , 716px 241px #1F1F1F , 633px 668px #1F1F1F , 916px 1359px #1F1F1F , 1054px 620px #1F1F1F , 1038px 1345px #1F1F1F , 1334px 1118px #1F1F1F , 393px 52px #1F1F1F , 1722px 590px #1F1F1F , 1329px 244px #1F1F1F , 1388px 1983px #1F1F1F , 66px 1845px #1F1F1F , 172px 995px #1F1F1F , 1258px 1766px #1F1F1F , 310px 110px #1F1F1F , 1019px 1705px #1F1F1F , 394px 1471px #1F1F1F , 489px 1962px #1F1F1F , 183px 1155px #1F1F1F , 90px 1153px #1F1F1F , 845px 60px #1F1F1F , 403px 1930px #1F1F1F , 820px 256px #1F1F1F , 394px 1716px #1F1F1F , 1744px 690px #1F1F1F , 831px 1562px #1F1F1F , 110px 1000px #1F1F1F , 1604px 585px #1F1F1F , 1954px 1442px #1F1F1F , 397px 1085px #1F1F1F , 242px 1785px #1F1F1F , 1216px 1885px #1F1F1F , 1873px 1700px #1F1F1F , 1181px 8px #1F1F1F , 1978px 701px #1F1F1F , 1968px 391px #1F1F1F , 1621px 947px #1F1F1F , 1142px 1244px #1F1F1F , 558px 584px #1F1F1F , 881px 767px #1F1F1F , 96px 960px #1F1F1F , 1143px 262px #1F1F1F , 690px 1357px #1F1F1F , 218px 1363px #1F1F1F , 1507px 16px #1F1F1F , 1947px 1785px #1F1F1F , 755px 1928px #1F1F1F , 1620px 1126px #1F1F1F , 1194px 1932px #1F1F1F , 728px 1068px #1F1F1F , 542px 1765px #1F1F1F , 1159px 1334px #1F1F1F , 1284px 444px #1F1F1F , 1623px 1161px #1F1F1F , 190px 1011px #1F1F1F , 855px 1379px #1F1F1F , 1244px 30px #1F1F1F , 1144px 1873px #1F1F1F , 1276px 958px #1F1F1F , 1675px 1097px #1F1F1F , 354px 1735px #1F1F1F , 1534px 235px #1F1F1F , 560px 1850px #1F1F1F , 493px 1737px #1F1F1F , 782px 598px #1F1F1F , 1709px 1377px #1F1F1F , 717px 1040px #1F1F1F;
  }
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 222px 946px #1F1F1F , 408px 926px #1F1F1F , 1608px 1741px #1F1F1F , 1977px 1436px #1F1F1F , 713px 1152px #1F1F1F , 139px 39px #1F1F1F , 497px 1590px #1F1F1F , 1808px 1652px #1F1F1F , 598px 667px #1F1F1F , 1962px 75px #1F1F1F , 331px 1245px #1F1F1F , 1600px 1822px #1F1F1F , 1463px 883px #1F1F1F , 299px 335px #1F1F1F , 1229px 909px #1F1F1F , 448px 581px #1F1F1F , 1346px 571px #1F1F1F , 1247px 458px #1F1F1F , 799px 186px #1F1F1F , 643px 404px #1F1F1F , 1330px 790px #1F1F1F , 299px 699px #1F1F1F , 1593px 1891px #1F1F1F , 934px 1230px #1F1F1F , 1162px 1835px #1F1F1F , 903px 1024px #1F1F1F , 596px 900px #1F1F1F , 1223px 1078px #1F1F1F , 682px 1024px #1F1F1F , 151px 373px #1F1F1F , 54px 1586px #1F1F1F , 657px 1902px #1F1F1F , 812px 273px #1F1F1F , 705px 1142px #1F1F1F , 1902px 1353px #1F1F1F , 1222px 1980px #1F1F1F , 767px 158px #1F1F1F , 22px 663px #1F1F1F , 1055px 727px #1F1F1F , 1728px 750px #1F1F1F , 223px 287px #1F1F1F , 438px 127px #1F1F1F , 224px 1146px #1F1F1F , 1594px 1466px #1F1F1F , 1505px 436px #1F1F1F , 389px 1049px #1F1F1F , 596px 435px #1F1F1F , 1997px 1798px #1F1F1F , 29px 51px #1F1F1F , 40px 514px #1F1F1F , 1779px 769px #1F1F1F , 652px 1211px #1F1F1F , 1599px 347px #1F1F1F , 1854px 1941px #1F1F1F , 485px 1633px #1F1F1F , 697px 1894px #1F1F1F , 1772px 877px #1F1F1F , 555px 1030px #1F1F1F , 976px 1338px #1F1F1F , 541px 1112px #1F1F1F , 817px 899px #1F1F1F , 961px 923px #1F1F1F , 115px 1321px #1F1F1F , 875px 434px #1F1F1F , 1577px 1980px #1F1F1F , 1160px 131px #1F1F1F , 15px 160px #1F1F1F , 979px 56px #1F1F1F , 959px 1756px #1F1F1F , 1358px 435px #1F1F1F , 563px 591px #1F1F1F , 1284px 475px #1F1F1F , 341px 601px #1F1F1F , 74px 471px #1F1F1F , 416px 584px #1F1F1F , 692px 536px #1F1F1F , 1041px 377px #1F1F1F , 1601px 1923px #1F1F1F , 1014px 241px #1F1F1F , 122px 1594px #1F1F1F , 1510px 280px #1F1F1F , 195px 1720px #1F1F1F , 152px 104px #1F1F1F , 1686px 811px #1F1F1F , 1329px 750px #1F1F1F , 1655px 441px #1F1F1F , 1288px 1040px #1F1F1F , 1802px 1368px #1F1F1F , 767px 615px #1F1F1F , 302px 195px #1F1F1F , 1973px 1902px #1F1F1F , 1088px 1583px #1F1F1F , 1840px 1126px #1F1F1F , 500px 111px #1F1F1F , 1263px 667px #1F1F1F , 1748px 121px #1F1F1F , 1608px 364px #1F1F1F , 1064px 1610px #1F1F1F , 1682px 1826px #1F1F1F , 1747px 1800px #1F1F1F;
  animation: animStar 150s linear infinite;
  &:after {
    content: "";
    position: relative;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 222px 946px #1F1F1F , 408px 926px #1F1F1F , 1608px 1741px #1F1F1F , 1977px 1436px #1F1F1F , 713px 1152px #1F1F1F , 139px 39px #1F1F1F , 497px 1590px #1F1F1F , 1808px 1652px #1F1F1F , 598px 667px #1F1F1F , 1962px 75px #1F1F1F , 331px 1245px #1F1F1F , 1600px 1822px #1F1F1F , 1463px 883px #1F1F1F , 299px 335px #1F1F1F , 1229px 909px #1F1F1F , 448px 581px #1F1F1F , 1346px 571px #1F1F1F , 1247px 458px #1F1F1F , 799px 186px #1F1F1F , 643px 404px #1F1F1F , 1330px 790px #1F1F1F , 299px 699px #1F1F1F , 1593px 1891px #1F1F1F , 934px 1230px #1F1F1F , 1162px 1835px #1F1F1F , 903px 1024px #1F1F1F , 596px 900px #1F1F1F , 1223px 1078px #1F1F1F , 682px 1024px #1F1F1F , 151px 373px #1F1F1F , 54px 1586px #1F1F1F , 657px 1902px #1F1F1F , 812px 273px #1F1F1F , 705px 1142px #1F1F1F , 1902px 1353px #1F1F1F , 1222px 1980px #1F1F1F , 767px 158px #1F1F1F , 22px 663px #1F1F1F , 1055px 727px #1F1F1F , 1728px 750px #1F1F1F , 223px 287px #1F1F1F , 438px 127px #1F1F1F , 224px 1146px #1F1F1F , 1594px 1466px #1F1F1F , 1505px 436px #1F1F1F , 389px 1049px #1F1F1F , 596px 435px #1F1F1F , 1997px 1798px #1F1F1F , 29px 51px #1F1F1F , 40px 514px #1F1F1F , 1779px 769px #1F1F1F , 652px 1211px #1F1F1F , 1599px 347px #1F1F1F , 1854px 1941px #1F1F1F , 485px 1633px #1F1F1F , 697px 1894px #1F1F1F , 1772px 877px #1F1F1F , 555px 1030px #1F1F1F , 976px 1338px #1F1F1F , 541px 1112px #1F1F1F , 817px 899px #1F1F1F , 961px 923px #1F1F1F , 115px 1321px #1F1F1F , 875px 434px #1F1F1F , 1577px 1980px #1F1F1F , 1160px 131px #1F1F1F , 15px 160px #1F1F1F , 979px 56px #1F1F1F , 959px 1756px #1F1F1F , 1358px 435px #1F1F1F , 563px 591px #1F1F1F , 1284px 475px #1F1F1F , 341px 601px #1F1F1F , 74px 471px #1F1F1F , 416px 584px #1F1F1F , 692px 536px #1F1F1F , 1041px 377px #1F1F1F , 1601px 1923px #1F1F1F , 1014px 241px #1F1F1F , 122px 1594px #1F1F1F , 1510px 280px #1F1F1F , 195px 1720px #1F1F1F , 152px 104px #1F1F1F , 1686px 811px #1F1F1F , 1329px 750px #1F1F1F , 1655px 441px #1F1F1F , 1288px 1040px #1F1F1F , 1802px 1368px #1F1F1F , 767px 615px #1F1F1F , 302px 195px #1F1F1F , 1973px 1902px #1F1F1F , 1088px 1583px #1F1F1F , 1840px 1126px #1F1F1F , 500px 111px #1F1F1F , 1263px 667px #1F1F1F , 1748px 121px #1F1F1F , 1608px 364px #1F1F1F , 1064px 1610px #1F1F1F , 1682px 1826px #1F1F1F , 1747px 1800px #1F1F1F;
  }
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-2000px);
  }
}